bert/bert_pretrained/
bert/bert_semantic_matrix/
data/
*.joblib
*.bin
*.csv 
*.xlsx
*.bz2
*__pycache__
/metamap/public_mm/
/inference/*.json
/tfidf/pretrained/
tfidf/dictmatrix/
/example/
*.ipynb
*.json
/inference/
*popen.py
*multi_*.py
/elasticsearch/
/metamap/